/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
/* --- end public domain code --- */html {
	overflow: -moz-scrollbars-vertical;
	overflow-y: scroll;
}

.clear:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clear {display: inline-block;}
/* hide IE mac \*/
* html .clear {height: 1%;}
.clear {display: block;}
/* */

body {font-family: 'arial'; font-size: 13px; background: #ccc;}
#container {width: 500px; margin: 0 auto 32px auto; padding: 20px; background: #fff; border-radius: 5px; -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0; -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0; -o-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0; box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;}

h1 {font-size: 32px; margin: 0 0 16px 0; text-align: center;}

form.add input[type=text] {width: 488px; font-size: 20px; padding: 5px;}
form.add input[type=submit] {display: none;}

ul.todos {padding: 16px 0; list-style: none;}
ul.todos li {padding: 5px 3px; margin-bottom: 5px; border-bottom: 1px dashed #bbb;}
ul.todos li input[type=checkbox] {float: left; margin: 8px 10px 0 0;}
ul.todos li h3 {float: left; width: 80%; font-size: 20px;}
ul.todos li.complete h3 {text-decoration: line-through;}
ul.todos li .actions {float: right; display: block;}
ul.todos li .actions a.delete {color: #a00; font-weight: bold; text-decoration: none;}
ul.todos li:hover .actions {display: block;}
ul.todos li form.edit {float: left; width: 80%;}
ul.todos li form.edit input[type=text] {width: 100%; font-size: 20px;}
ul.todos li form.edit input[type=submit] {display: none;}

.info .left {float: left;}
.info .clear-complete {float: right;}

footer {width: 400px; margin: 0 auto; text-align: center;}
